/* ADD styling for all of the divs in post.html to match  */

#individual-post-title {
    font-size: 2em;
    text-align: center;
    padding: 24px 0 24px 0;

}

#individual-post-date {
    font-size: 12px;
    color: #adb5bd;
    border-top: 1px solid #eaecee70;
    border-bottom: 1px solid #eaecee70;
    padding: 24px 0 24px 16px;

}

#individual-post-content {
    padding: 24px 16px 0 16px;
    color: #495057;
    line-height: 1.4;

}
